@use "./config.scss";

.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &-left {
        border-right: 25px solid config.$secondary-text-color;
        left: 20px;
    }

    &-right {
        border-left: 25px solid config.$secondary-text-color;
        right: 20px;
    }

    @include config.placard1 {
        border-top-width: 22px;
        border-bottom-width: 22px;
    }
    @include config.placard2 {
        border-top-width: 36px;
        border-bottom-width: 36px;
        &.arrow-left { border-right-width: 50px; }
        &.arrow-right { border-left-width: 50px; }
    }
    @include config.placard3 {
        border-top-width: 48px;
        border-bottom-width: 48px;
        &.arrow-left { border-right-width: 60px; }
        &.arrow-right { border-left-width: 60px; }
    }
    @include config.placard4 {
        border-top-width: 60px;
        border-bottom-width: 60px;
        &.arrow-left { border-right-width: 80px; }
        &.arrow-right { border-left-width: 80px; }
    }
}

.thicker-arrow-icon path {
  stroke: white;
  stroke-width: 1.3px; 
}