@use "./config.scss";

.team-logo-pregame {
  width: clamp(1rem, 50%, 10rem);
  height: clamp(1rem, 50%, 10rem);
  object-fit: contain;
}

.team-name {
  font-weight: bolder;
  font-size: 2rem;
  color: config.$text-color;
  text-align: center;
  font-family: config.$font-secondary;
}

.team-players {
  .player-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: rgba(30, 45, 60, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    .jersey-container {
      width: 60px;
      flex-shrink: 0;
    }
    
    .player-name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: config.$font-secondary;
      font-size: 1.25rem;
      color: white;
      margin-left: 1.5rem;
    }
  }
  
  .add-player-button {
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 8px rgba(58, 134, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: #fff;
      width: 1.6em;
      height: 1.6em;
    }

  }
}