@use "./config.scss";

.scores-row-container {
    max-width: 85vw;
    padding: 2rem 1rem;
}

.team-col {
    display: flex;
    justify-content: center;
}

.team-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-team {
    justify-content: flex-end;
}

.away-team {
    justify-content: flex-start;
}

.team-logo-scoreboard {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 80px;
    object-fit: contain;
    
    @include config.xl { 
        max-height: 100px;
    }
    
    @include config.xxl { 
        max-height: 120px;
    }
    
    @include config.placard1 { 
        max-height: 160px;
    }
    
    @include config.placard2 { 
        max-height: 180px;
    }
    
    @include config.placard3 { 
        max-height: 230px;
    }
    
    @include config.placard4 { 
        max-height: 260px;
    }
}

.team-abbr {
    color: config.$text-color;
    font-family: config.$font-secondary;
    font-size: 1.5rem;
    font-weight: bold;
    
    @include config.md { 
        font-size: 1.5rem; 
    }
    
    @include config.lg { 
        font-size: 2rem; 
    }
    
    @include config.xl { 
        font-size: 2.5rem; 
    }
    
    @include config.xxl { 
        font-size: 3rem; 
    }
    
    @include config.placard1 { 
        font-size: 3.5rem; 
    }
    
    @include config.placard2 { 
        font-size: 4.5rem; 
    }
    
    @include config.placard3 { 
        font-size: 5.5rem; 
    }
    
    @include config.placard4 { 
        font-size: 6.5rem; 
    }
}

.score-center-col {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.score-box {
    background: #fff;
    color: config.$secondary-text-color;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    font-family: config.$font-secondary;
    font-weight: bold;
    min-width: 90px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include config.md { 
        font-size: 3rem;
        min-width: 75px;
        min-height: 75px;
    }
    
    @include config.lg { 
        font-size: 3.5rem;
        min-width: 90px;
        min-height: 90px;
    }
    
    @include config.xl { 
        font-size: 4.5rem;
        min-width: 105px;
        min-height: 105px;
    }
    
    @include config.xxl { 
        font-size: 5.5rem;
        min-width: 125px;
        min-height: 125px;
    }
    
    @include config.placard1 { 
        font-size: 6.5rem;
        min-width: 150px;
        min-height: 150px;
    }
    
    @include config.placard2 { 
        font-size: 7.5rem;
        min-width: 180px;
        min-height: 180px;
    }
    
    @include config.placard3 { 
        font-size: 9rem;
        min-width: 210px;
        min-height: 210px;
    }
    
    @include config.placard4 { 
        font-size: 10rem;
        min-width: 240px;
        min-height: 240px;
    }
}

.scores-gap {
    gap: 3rem;
    
    @include config.lg { 
        gap: 5rem; 
    }
    
    @include config.xl { 
        gap: 7rem; 
    }
    
    @include config.xxl { 
        gap: 9rem; 
    }
    
    @include config.placard1 { 
        gap: 12rem; 
    }
    
    @include config.placard2 { 
        gap: 14rem; 
    }
    
    @include config.placard3 { 
        gap: 16rem; 
    }
    
    @include config.placard4 { 
        gap: 20rem; 
    }
}

@include config.xs-sm {
    .scores-row-container {
        padding: 1rem 0 !important;
    }

    .score-center-col {
        flex-direction: column;
        gap: 0.5rem;
    }

    .score-logo-group {
        width: 100%;
        padding: 0 10px;
    }

    .score-box {
        font-size: 2rem ;
        min-width: 68px ;
        min-height: 68px;
    }

    .team-logo-scoreboard {
        width: auto ;
        max-width: 70px ;
        height: auto ;
        max-height: 70px ;
        margin-top: 0.75rem ;
    }

    .team-abbr {
        font-size: 1.2rem ;
    }
}