@use "./config.scss";

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: config.$background-color;
    min-width: 300px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    flex: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeout-timer-wrapper {
    margin-bottom: 6rem; 
    margin-top: 3rem;
}

.timeout-counter-wrapper {
    margin-top: 6rem; 
}

.scores-row-wrapper {
    margin-top: 2rem !important;
}