@use "./config.scss";

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: config.$background-color;
    min-width: 300px;
}

.timeout-timer-wrapper {
    margin-bottom: 6rem; 
}

.timeout-counter-wrapper {
    margin-top: 6rem; 
}

.scores-row-wrapper {
    margin-top: 2rem !important;

    @include config.placard1 {margin-top: 5rem !important;}
    @include config.placard2 {margin-top: 5rem !important;}
    @include config.placard3 {margin-top: 5rem !important;}
    @include config.placard4 {margin-top: 5rem !important;}
}