@use "./config.scss";

.slider-component {
  .slider-title {
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
    margin-bottom: 0.5rem;
  }
}


.scores-slider-points {
  width: 100%;
  
  &.home-points {
    align-items: flex-start;
  }
  
  &.away-points {
    align-items: flex-end;
  }
}

.score-event-position {
  margin: 0.25rem 0;
  min-height: 2rem;
  display: flex;
  justify-content: center;
}

.score-event-point {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  
  .score-event-point-value {
    font-size: 1.3rem;
    font-weight: bold;
    color: config.$secondary-text-color;
  }
}

.score-event-placeholder {
  width: 3rem;
  height: 3rem;
}

.player-scores-list {
  width: 100%;
}

.player-score-item {
  width: 100%;
  padding: 0.25rem 0;
}

.player-name {
  font-size: 1.2rem;
  max-width: 100%; // Ensure it doesn't exceed parent width
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block; // Important for text-overflow to work
}

.player-jersey-container {
  width: 4.5rem;
  height: 4.5rem;
  min-width: 3rem;
  min-height: 3rem;
  max-width: 7vw;
  max-height: 7vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-jersey-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}


.player-jersey-number {
  font-size: 1.5rem;
}

@include config.below-md {
  .slider-title {
    font-size: 1rem;
  }
  
  .score-event-point {
    width: 2.5rem;
    height: 2.5rem;
    
    .score-event-point-value {
      font-size: 1.25rem;
    }
  }
  
  .score-event-placeholder {
    width: 2.5rem;
    height: 2.5rem;
  }

  .player-name{
    font-size: 0.75rem;
  }

  .player-jersey-container {
    width: 4.5rem;
    height: 4.5rem;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 7vw;
    max-height: 7vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-jersey-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .player-jersey-number {
    font-size: 1rem;
  }

}

@include config.below-lg {
    .player-name{
    font-size: 0.8rem;
  }

  .player-jersey-container {
    width: 4.5rem;
    height: 4.5rem;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 7vw;
    max-height: 7vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-jersey-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .player-jersey-number {
    font-size: 1rem;
  }
}
