@use "./config.scss";

.timer {
    font-family: config.$font-secondary;
    color: config.$text-color;
    width: 100%;

    .period {
        font-size: clamp(2rem, 5vw, 6rem);
        font-weight: bold;
        line-height: 1;
    }
    
    .time {
        font-size: clamp(3rem, 7vw, 8rem);
        font-weight: bold;
        line-height: 1;
    }
}